body {
  background: url("https://i.pinimg.com/originals/04/e7/46/04e746345c248480717fc6e35b01e321.jpg");
  background-position: 30% 40%;
  background-size: 250%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

}
.App {
  text-align: center;
  background: rgba(128, 128, 128, 0.219);
  display: flex;
  /* justify-content: center; */
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 3px white;
  text-align: center;
  background-size: 100%;
  background-position: center;
  color: white;
  font-family: helvetica;
  width: 60vw;
  height: 80vh;
}
h1 {
font-family: 'Exo 2', sans-serif;
margin: 0 auto;
padding-top: 4vw;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}


